@font-face {
    font-family: 'Winky Sans';
    src: url(assets/Winky_Sans/WinkySans-VariableFont_wght.ttf) format('truetype-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url(assets/Winky_Sans/WinkySans-Italic-VariableFont_wght.ttf) format('truetype-variations');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

html {
    font-family: 'Winky Sans', sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-image:linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.5)), 
                     url(assets/body-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.introduction {
    margin: 3vw 0 4vw 0;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    background-color: whitesmoke;
}    

.pfp-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
    gap: 1vw;
} .pfp {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
} #pfp-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    scale: 1.25;
} #gumsa-logo {
    width: 10.5vw;
    height: 7vw;
    margin-top: 2vw;
}

.manifesto-article {
    margin: 0 2vw 1vw 2vw;
    padding: 1vw 1vw;
    width: 100%;
} .manifesto-article h2 {
    font-size: 2.5vw;
    font-weight: 600;
    padding: 0;
    margin: 0;
} .manifesto-article p {
    font-weight: 300;
    z-index: 1;
} br {
    display: block;
    margin: 0.25vw;
} #manifesto-ne-border {
    position: absolute;
    top: 2vw;
    right: 0;
    transform-origin: top right;
    transform: scale(60%) translate(10%, -8%);
}

.q-and-a-container {
    margin: 4vh 5vw;
} .q-and-a-container h1 {
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.q-and-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.info-card {
    border-radius: 20px;
    scale: 0.9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} .info-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} .info-card figcaption {
    position: absolute;
    z-index: 1;
    padding: 1vh 1vw;
    font-size: 2vw;
    font-weight: 400;
}